
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

main {
    /*width: 1024px;
    height: 600px;*/
    /*background-color:bisque;*/
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #3a3838;
}

.contact {
    /*background-color: aqua;*/
    width: 190px;
    height: auto;
}

.user1 {
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #e8ebe4;
}

.boxuser {
    display: flex;
    justify-content: space-around;
}

.photousr{
    height: 4vh;
    width: 4vh;
    overflow:auto;
    border-radius: 50%;
    border: solid 2px #e8ebe4;
    margin: 0px 7px 0px 0px; */
}

.boxuser {
    display: flex;
    align-items: center;
}

.boxchat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-message {
   margin-right: 10px;
}

.photo{
    height: 5vh;
    width: 5vh;
    overflow:auto;
    border-radius: 50%;
    border: solid 2px #e8ebe4;
    margin: 10px 10px 10px 20px; 
}

.boxbtn {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #e8ebe4;
}

.by {
    border: none;
    color: white;
    background-color: #A491D2;
    font-weight: bold;
    padding: 1.5vh 6vh;
   /*padding: 8px 32px;*/
    text-align: center;
    margin: 4px 2px;
   /*cursor: pointer;*/
}

.by:hover {
    background-color: #c0b4db;
    color: white;
  }

.by:focus {
    background-color: gray;
    color: white;
}

.name {
    font-family: 'Roboto',  sans-serif;
    font-weight: bold;
    font-size: 11px;
}
.userM{
    display: flex;
    flex-direction: column;
    font-size: 8px;
}

.user2 {
    height: 8vh;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    border-bottom: solid 1px #e8ebe4;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: #fcfcf7da;
}

.center {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 193, 228, 0,0);
}

h1 {
    margin: 15px 0px 0px 0px;
    font-family: 'Roboto',  sans-serif;
    font-weight: bold;
    font-size: 34px;
}

.fila {
    margin: 5px 0px 0px 0px;
}